@import "../App.scss";  
div.notepad-info div {
  display: flex;
  justify-content: space-between;
}

div.notepad-info {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 3fr 0.1fr;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
}

div.notepad-info strong {
  display: block;
  font-size: 28px;
  color: #333;
}
.card-icon {
  // color: #666666;
  cursor: pointer;
  height: 24px;
  width: 24px;
  font-size: 24px;
  font-style: bold;
  /* background-color: aquamarine; */
}
.card-header:hover {
  cursor: default;
}
.crud-icons {
  display: flex;
  flex-direction: row;
  /* background-color: antiquewhite; */
  gap: 15px;
}
.card-icon:hover {
  color: #efc8bf;
  transform: 0.2s;
}
div.notepad-info textarea {
  padding: 7px;
  margin-top: 7px;
  margin-bottom: 5px;
  width: 100%;
  height: 95%;
  font-size: 14px;
  border: 0;
  background-color: #fff;
  resize: none;
  font-size: 22px;
  color: #646464;
}
div.notepad-info textarea:hover {
  cursor: default;
}
div.notepad-info{
  
  @include notecard-defult-style ($smartphone-card-heihgt);
  @include notecard-media;
  div.card-header{
    strong{
      @include h2-defult-style;
    }
    .crud-icons{

    }

  }
  textarea{
    @include sidebar-inputs-media('textarea-input');
    font-size: $text-min-font-size;
  }
  .card-icon{
    background:$icon-responsive-size;
  }
}
